In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv(r'../All Data_Sets/tmdb_5000_credits.csv')
df1.head(3)
df1.tail()
df1.drop_duplicates(['title'],inplace=True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4800 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4800 non-null   int64
 1   title     4800 non-null   object
 2   cast      4800 non-null   object
 3   crew      4800 non-null   object
dtypes: int64(1), object(3)
memory usage: 187.5+ KB

In [3]:
df2 = pd.read_csv('../All Data_Sets/tmdb_5000_movies.csv')
df2.head()
df2.tail()
df2.drop_duplicates(['title'], inplace=True)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4800 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4800 non-null   int64
 1   genres                4800 non-null   object
 2   homepage              1711 non-null   object
 3   id                    4800 non-null   int64
 4   keywords              4800 non-null   object
 5   original_language     4800 non-null   object
 6   original_title        4800 non-null   object
 7   overview              4797 non-null   object
 8   popularity            4800 non-null   float64
 9   production_companies  4800 non-null   object
 10  production_countries  4800 non-null   object
 11  release_date          4799 non-null   object
 12  revenue               4800 non-null   int64
 13  runtime               4798 non-null   float64
 14  spoken_languages      4800 non-null   object
 15  status                4800 non-null   object
 16  tagline               3956 non-null   object
 17  title                 4800 non-null   object
 18  vote_average          4800 non-null   float64
 19  vote_count            4800 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 787.5+ KB

In [4]:
df = df1.merge(df2,on='title')
df.head()
df.shape
df.info()
df.tail()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4800 entries, 0 to 4799
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   movie_id              4800 non-null   int64
 1   title                 4800 non-null   object
 2   cast                  4800 non-null   object
 3   crew                  4800 non-null   object
 4   budget                4800 non-null   int64
 5   genres                4800 non-null   object
 6   homepage              1711 non-null   object
 7   id                    4800 non-null   int64
 8   keywords              4800 non-null   object
 9   original_language     4800 non-null   object
 10  original_title        4800 non-null   object
 11  overview              4797 non-null   object
 12  popularity            4800 non-null   float64
 13  production_companies  4800 non-null   object
 14  production_countries  4800 non-null   object
 15  release_date          4799 non-null   object
 16  revenue               4800 non-null   int64
 17  runtime               4798 non-null   float64
 18  spoken_languages      4800 non-null   object
 19  status                4800 non-null   object
 20  tagline               3956 non-null   object
 21  vote_average          4800 non-null   float64
 22  vote_count            4800 non-null   int64
dtypes: float64(3), int64(5), object(15)
memory usage: 900.0+ KB

,movie_id,title,cast,crew,budget,genres,homepage,id,keywords,original_language,...,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,vote_average,vote_count
4795,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de...",220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,...,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",6.6,238
4796,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de...",9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,...,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,5.9,5
4797,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de...",0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,...,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,7.0,6
4798,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de...",0,[],http://shanghaicalling.com/,126186,[],en,...,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,5.7,7
4799,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de...",0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,...,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,6.3,16

In [5]:
movies = df[['id','title','overview','genres','keywords','cast','crew']]
movies.head(2)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [6]:
movies.iloc[0].crew
movies.iloc[0].cast
movies.iloc[0].keywords
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [7]:
movies.isnull().sum()

id          0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [8]:
movies = movies.dropna()
movies = movies.reset_index(drop=True)

In [9]:
movies.duplicated().sum()

0

In [10]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4797 entries, 0 to 4796
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        4797 non-null   int64
 1   title     4797 non-null   object
 2   overview  4797 non-null   object
 3   genres    4797 non-null   object
 4   keywords  4797 non-null   object
 5   cast      4797 non-null   object
 6   crew      4797 non-null   object
dtypes: int64(1), object(6)
memory usage: 262.5+ KB

In [11]:
def helper(dic):
    l = []
    for i in eval(dic):
        l.append(i['name'])
    return l

In [12]:
movies['genres'] = movies['genres'].apply(helper)
movies['keywords'] = movies['keywords'].apply(helper)

In [13]:
def handler(dic):
    l = []
    for i in eval(dic)[:4]:
        l.append(i['name'])
    return l

In [14]:
movies['cast'] = movies['cast'].apply(handler)

In [15]:
def function(dic):
    l = []
    for i in eval(dic):
        if i['job'] == 'Director':
            l.append(i['name'])
            break
    return l

In [16]:
movies['crew'] = movies['crew'].apply(function)

In [17]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [18]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(' ','') for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(' ','') for i in x])
movies['overview'] = movies['overview'].apply(lambda x:[i.replace(' ','') for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(' ','') for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(' ','') for i in x])

In [19]:
movies['Tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [20]:
movies = movies[['id', 'title', 'Tags']]

In [21]:
movies['Tags'] = movies['Tags'].apply(lambda x: (' '.join(x)).lower())

In [22]:
movies['Tags'][5]

"the seemingly invincible spider-man goes up against an all-new crop of villain – including the shape-shifting sandman. while spider-man’s superpowers are altered by an alien organism, his alter ego, peter parker, deals with nemesis eddie brock and also gets caught up in a love triangle. fantasy action adventure dualidentity amnesia sandstorm loveofone'slife forgiveness spider wretch deathofafriend egomania sand narcism hostility marvelcomic sequel superhero revenge tobeymaguire kirstendunst jamesfranco thomashadenchurch samraimi"

In [23]:
import nltk
from nltk.stem.porter import PorterStemmer

In [24]:
ps = PorterStemmer()
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return ' '.join(y)

In [25]:
movies['Tags'] = movies['Tags'].apply(stem)

In [26]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [27]:
vectors = cv.fit_transform(movies['Tags']).toarray()

In [28]:
from sklearn.metrics.pairwise import cosine_similarity

In [29]:
similarity = cosine_similarity(vectors)

In [37]:
sorted(list(enumerate(similarity[0])),reverse=True,,key=lambda x:x[1])[:5]

[(4796, 0.0),
 (4795, 0.0),
 (4794, 0.04559607525875532),
 (4793, 0.047457899787624956),
 (4792, 0.019510570275964215)]

In [38]:
def recommend(movie):
    index = movies[movies['title'] == movie].index[0]
    distances = similarity[index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    for i in movies_list:
        print(movies.iloc[i[0]].title)

In [39]:
recommend('Batman')

Batman & Robin
Batman Begins
Batman Returns
The R.M.
The Dark Knight Rises

In [40]:
movies

,id,title,Tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."
...,...,...,...
4792,9367,El Mariachi,el mariachi just want to play hi guitar and ca...
4793,72766,Newlyweds,a newlyw couple' honeymoon is upend by the arr...
4794,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduc a dedic q..."
4795,126186,Shanghai Calling,when ambiti new york attorney sam is sent to s...
4796,25975,My Date with Drew,ever sinc the second grade when he first saw h...

In [41]:
movies[movies['title'] == 'My Date with Drew'].index[0]

4796